{% extends 'base.html' %}
{% load static schema_org %}

{% block content %}
    <div class="homes-list">
        {% for home in homes %}
            {% include 'homes/../components/card.html' with home=home %}
        {% endfor %}
    </div>
{% endblock %}
{% block portals %}
    {% include 'components/modal.html' with content='forms/ticket-form.html' id='ticket-form-portal' %}
{% endblock %}

{% block lib_styles %}
    {{ block.super }}
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.min.css" rel="stylesheet"/>
{% endblock %}

{% block lib_scripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.min.js"></script>
{% endblock %}
{% block extra_script %}
    {{ block.super }}
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/all_homes.js' %}"></script>
{% endblock %}

{% block schema_org %}
    {{ block.super }}
    {{ homes|so_homes_catalog }}
{% endblock %}
