{% load components %}
<div class="home-covers">
    <div class="home-covers-head">
        <h1>{{ topic }}</h1>
        {% button text='Забронировать' size='l' color='dark' data_book_btn=true %}
    </div>
    <div class="swiper invisible">
        <div class="swiper-wrapper">
            {% for home in homes %}
                <div class="swiper-slide" data-home-id="{{ home.id }}" data-home-name="{{ home.name }}">
                    <img src="{{ home.cover.url }}" alt loading="lazy"/>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            {% endfor %}
        </div>
        {% button icon='arrow' size='l' extra_classes='home-covers-prev mobile-hidden' color='light' %}
        <div class="home-covers-pages">{% button text='-' size='m' color='light' %}</div>
        {% button icon='arrow' size='l' extra_classes='home-covers-next mobile-hidden' color='light' %}
    </div>
</div>