header:has(+ main > #home-covers) {
    position: absolute;
    top: 0;
    z-index: 2;
    --link-color: var(--bgcolor);
}

#home-covers {
    width: 100%;
    max-height: 100dvh;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    --flipper-size: 10vh;
}

#home-covers > .chevron-btn {
    position: absolute;
    top: 50%;
    height: 50%;
    transform: translateY(-50%);
    padding: 1%;
}
#home-covers > .chevron-btn[data-left] {
    left: 0;
}
#home-covers > .chevron-btn[data-right] {
    right: 0;
}

.home-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transition: transform 300ms;
}
.home-cover__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.home-cover__form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 8%;
    max-width: 35%;
    padding: 20px;
    border-radius: 30px;
    background: color-mix(in srgb, var(--bgcolor) 70%, transparent);
    transition: 0.25s;
}
.home-cover__form__container[data-completed] {
    background: rgba(35, 243, 35, 0.7);
}
.home-cover__form__name {
    font-family: 'Salsa', cursive;
    font-size: max(16px, min(3vw, 30px));
    margin-bottom: 10px;
}
.home-cover__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-cover__form .primary-button {
    margin-block-start: 10px;
    width: 100%;
}
.home-cover__form input {
    border-radius: 30px;
}

.home-cover[data-active] {
    display: block;
    margin: auto;
}
.home-cover:has(+ .home-cover[data-active]) {
    display: block;
    transform: translateX(-100%);
}
.home-cover[data-active] + .home-cover {
    display: block;
    transform: translateX(100%);
}

#home-details {
    margin-block-start: 20px;
    scroll-margin-block-start: 20px;
    margin-inline: 20px;
    min-height: calc(100dvh - 20px);
}
.home-detail {
    display: none;
}
.home-detail[data-active] {
    display: block;
}
.home-detail .tab-labels {
    justify-content: center;
    flex-wrap: wrap;
}
.home-detail__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-detail__description__text {

}
.home-detail__photos {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.home-detail__video {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.home-detail__video__container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.home-detail__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.home-detail__map {
    width: 100%;
    height: 400px;
    max-width: 800px;
    margin-inline: auto;
}
