:root {
    --color-background-main: rgba(255 255 255 / 1);
    --color-background-secondary: rgba(249 245 242 / 1);
    --color-interface-dark: rgba(41 37 33 / 1);
    --color-interface-medium: rgba(140 140 140 / 1);
    --color-interface-light: rgba(229 229 229 / 1);
    --color-interface-white: rgba(255 255 255 / 1);
    --color-interface-error: rgba(237 28 36 / 1);
    --color-text-dark: rgba(41 37 33 / 1);
    --color-text-medium: rgba(140 140 140 / 1);
    --color-text-light: rgba(193 180 168 / 1);
    --color-text-white: rgba(255 255 255 / 1);
    --color-text-error: rgba(237 28 36 / 1);

    --header-height: 60px;
    --page-inline-offset: 40px;
    --animation-duration: 100ms;

}
@media (width <= 600px) {
    :root {
        --page-inline-offset: 20px;
    }
}
body {
    font-family: 'Inter', sans-serif;
    color: var(--color-text-dark);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-main);
}
body:has(.portal[data-open]) {
    overflow: hidden;
    margin-inline-end: 18px;
}
main {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: var(--page-inline-offset);
    align-items: center;
    height: var(--header-height);
}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.navlink {}
.header-phone {}

.footer {
    display: flex;
    flex-direction: row-reverse;
    padding-inline: var(--page-inline-offset);
    padding-block: 24px;
    color: var(--color-text-light);
    background-color: var(--color-interface-medium);
}

@media (width <= 600px) {
    .navbar {
        gap: 16px;
    }
    .footer {
        padding-inline: 20px;
    }
}

.button {
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    transition-duration: var(--animation-duration);
    border-radius: 50px;
    justify-content: center;
    white-space: nowrap;
}
.button:disabled {
    cursor: default;
}
.button.medium {
    height: 36px;
    padding-inline: 16px;
}
.button.medium.icon-button {
    width: 36px;
    padding-inline: 0;
}
.button.large {
    height: 52px;
    padding-inline: 36px;
}
.button.large.icon-button {
    width: 52px;
    padding-inline: 0;
}
.button > svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.button.icon-button > svg {
    width: 24px;
    height: 24px;
}

.button.light {
    background-color: var(--color-interface-white);
    color: var(--color-text-dark);
}
.button.light:disabled {
    color: var(--color-interface-light);
}
.button.dark {
    background-color: var(--color-interface-dark);
    color: var(--color-text-white);
}
.button.dark:disabled {
    background-color: var(--color-text-medium);
}
@media (hover: hover) {
    .button.light:hover:not(:disabled) {
        background-color: var(--color-interface-light);
    }
    .button.dark:hover:not(:disabled) {
        background-color: var(--color-interface-medium);
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.input-label {
    color: var(--color-text-medium);
    font-size: 13px;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: var(--color-interface-light) 1px solid;
    padding-inline: 12px;
    transition-duration: var(--animation-duration);
}
.input-wrapper:has(.input[data-filled]), .input-wrapper:focus-within {
    border-color: var(--color-interface-medium);
}
.input-wrapper:has(.input[data-has-error]){
    border-color: var(--color-interface-error);
}
.input-icon-helper {
    cursor: pointer;
    line-height: 0;
}
.input-icon-helper > svg {
    width: 18px;
    height: 18px;
    fill: var(--color-text-medium);
}

.input {
    width: 100%;
    font-size: 13px;
    height: 100%;
}

.phone-input-prefix {
    font-size: 13px;
}

.number-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
}
.number-input > .input-wrapper {
    width: 48px;
    justify-content: center;
    padding-inline: 6px;
}
.number-input .input {
    text-align: center;
    appearance: none;
}
.number-input .input::-webkit-outer-spin-button,
.number-input .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.tooltip {
    padding-block: 4px;
    padding-inline: 10px;
    max-width: 200px;
    width: max-content;
    text-align: center;
    background-color: var(--color-interface-medium);
}

.conveniences {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    user-select: none;
}
.conveniences__item {
    position: relative;
    cursor: pointer;
}
.conveniences__item > .tooltip {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: scale(1) translate(-50%, -100%);
    color: var(--color-text-white);
    border-radius: 4px;
    transform-origin: 0 50%;
    animation-name: show-convenience-tooltip;
    animation-duration: var(--animation-duration);
}
.conveniences__item > svg {
    width: 18px;
    height: 18px;
    transition-duration: var(--animation-duration);
    fill: var(--color-interface-medium);
}
.conveniences__item:not(:hover) > .tooltip {
    display: none;
}
.conveniences__item:hover > svg {
    fill: var(--color-interface-dark);
}
@keyframes show-convenience-tooltip {
    from {
        transform: scale(0) translate(-50%, -100%);
    }
}

.address-with-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--color-text-medium);
    align-items: center;
}
.address-with-icon > svg {
    width: 18px;
    height: 18px;
}

#portals {
    z-index: 1000;
}
.portal {
    position: fixed;
    inset: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portal[data-open] {
    display: flex;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: color-mix(in srgb, var(--color-interface-dark), transparent);
}
.modal {
    position: relative;
    max-width: 480px;
    width: 100%;
    max-height: 100%;
    background-color: var(--color-interface-white);
    margin: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
.modal-close-wrapper {
    display: contents;
}
.modal-close-wrapper > .button {
    position: absolute;
    right: -12px;
    top: 0;
    transform: translateX(100%);
}

#ticket-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    overflow-y: auto;
}
.ticket-form-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.submit-row {
    width: 100%;
}
.submit-row .button:not(.icon-button) {
    width: 100%;
}
@media (width <= 600px) {
    @keyframes show-portal {
        from {transform: translateY(-100%)}
        to {transform: translateY(0)}
    }
    .portal {
        animation-name: show-portal;
        animation-duration: calc(var(--animation-duration) * 2);
    }
    .modal-close-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-inline-end: 32px;
    }
    .modal-close-wrapper > .button {
        position: static;
        transform: none;
    }
    .overlay {
        background-color: var(--color-interface-white);
    }
}

.air-datepicker {
    --adp-font-family: Inter, sans-serif;
    --adp-transition-duration: var(--animation-duration);
    --adp-border-radius: 8px;
    --adp-cell-border-radius: 4px;
    --adp-background-color: var(--color-background-main);

    --adp-accent-color: var(--color-interface-medium);
    --adp-background-color-hover: rgba(240 240 240 / 1);
    --adp-background-color-active: rgba(234 234 234 /1);
    --adp-background-color-in-range: color-mix(in srgb, var(--adp-accent-color), transparent 80%);
    --adp-background-color-in-range-focused: color-mix(in srgb, var(--adp-accent-color), transparent 70%);
    --adp-background-color-selected-other-month: var(--adp-accent-color);
    --adp-background-color-selected-other-month-focused: color-mix(in srgb, var(--adp-accent-color) 80%, var(--color-interface-dark));
    --adp-color-disabled: var(--color-text-light);
    --adp-color-other-month: color-mix(in srgb, var(--adp-color-disabled), var(--adp-accent-color));
    --adp-cell-background-color-selected: var(--adp-accent-color);
    --adp-cell-background-color-selected-hover: color-mix(in srgb, var(--adp-accent-color) 80%, var(--color-interface-dark));
    --adp-cell-background-color-in-range: var(--adp-background-color-in-range);
    --adp-cell-background-color-in-range-hover: var(--adp-background-color-in-range-focused);
    --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
    --adp-day-name-color: var(--color-text-dark);
    --adp-color-current-date: var(--color-interface-medium);

    border: none;
}
.air-datepicker--buttons {
    padding: 0;
    overflow: hidden;
    border-top: none;
}
.air-datepicker-button {
    border-radius: 0 0 var(--adp-border-radius) var(--adp-border-radius);
    color: var(--color-text-medium);
    background-color: var(--color-background-secondary);
    transition-duration: var(--animation-duration);
}
.air-datepicker-button:hover {
    background-color: var(--color-interface-light);
}


.homes-list {
    padding-block: 20px;
    padding-inline: var(--page-inline-offset);
    display: grid;
    gap: 24px;
    justify-items: center;
}
main:has(.homes-list) {
    background-color: var(--color-background-secondary);
}
.home-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    padding: 0;
    transition-duration: var(--animation-duration);
    background-color: var(--color-interface-white);
}
.home-card:hover {
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.1));
}
.home-card--images img {
    object-fit: cover;
    border-radius: 12px;
}
.home-card--about {
    color: var(--color-text-dark);
}
.home-card--about .address-with-icon {
    margin-block-start: 8px;
}
.home-card--about-pluses {
    margin-block-start: 20px;
    list-style: disc inside;
}

.home-card--book {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.home-card--book-cost {
    color: var(--color-text-dark);
}
@media (width > 1050px) {
    .homes-list {
        padding-block: 40px;
        grid-template-columns: 1fr;
    }
    .home-card {
        flex-direction: row;
        gap: 24px;
        padding: 24px;
        max-width: 1200px;
    }
    .home-card--images {
        display: grid;
        grid-template-areas:
            'C C C'
            'i1 i2 i3';
        grid-template-rows: 3fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        width: 400px;
        aspect-ratio: 4/3;
        gap: 10px;
    }
    .home-card--images-cover > img {
        grid-area: C;
    }
    .home-card--images-cover, .home-card--images-carousel {
        display: contents;
    }
    .home-card--images-carousel > img:not(.i1, .i2, .i3) {
        display: none;
    }
    .home-card--images-carousel > .i1 {grid-area: i1}
    .home-card--images-carousel > .i2 {grid-area: i2}
    .home-card--images-carousel > .i3 {grid-area: i3}
    .home-card--about {
        flex: 1;
    }
    .home-card--book .conveniences {
        display: none;
    }
    .home-card--book-cost > :not(.large) {
        display: none;
    }
}
@media (width <= 1050px) {
    .homes-list {
        grid-template-columns: 1fr 1fr;
    }
    .home-card {
        max-width: 460px;
    }
    .home-card--images img {
        aspect-ratio: 440/375;
        border-radius: 20px 20px 0 0;
    }
    .home-card--images-carousel {
        display: none;
    }
    .home-card--about-pluses, .home-card--book-btn-wrapper {
        display: none;
    }
    .home-card--about {
        padding: 24px 24px 4px 24px;
    }
    .home-card--book {
        flex-direction: row;
        gap: 0;
        padding-inline: 24px;
        padding-block: 10px;
        justify-content: space-between;
    }
    .home-card--book-cost > .large {
        display: none;
    }
}
@media (width <= 900px) {
    .homes-list {
        grid-template-columns: 1fr;
    }
}
@media (width <= 600px) {
    .homes-list {
        padding-inline: 0;
    }
    .home-card--book .conveniences {
        display: none;
    }
}
@media (width <= 480px) {
    .home-card {
        border-radius: 0;
    }
    .home-card--images-cover img {
        border-radius: 0;
    }
}


.contacts {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding-block: 40px;
    padding-inline: var(--page-inline-offset);
}
.contacts-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contacts-text {
    gap: 20px;
}
.contacts-text--phones-list,
.contacts-text--mails-list {
    list-style: disc inside;
}
.contacts-map {
    flex: 1;
}
@media (width > 1050px) {
    .contacts-text {
        width: 450px;
    }
}
@media (width <= 1050px) {
    .contacts {
        flex-direction: column;
        gap: 48px;
    }
}

.home-covers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-height: calc(100dvh - var(--header-height));
}
.home-covers .swiper {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
}
.home-covers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-covers-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 50px;
    row-gap: 24px;
    padding-inline: var(--page-inline-offset);
}
.home-covers-prev, .home-covers-next {
    position: absolute;
    top: 50%;
    z-index: 1;
}
.home-covers-prev {
    left: 20px;
    transform: rotateY(180deg) translateY(-50%);
}
.home-covers-next {
    right: 20px;
    transform: translateY(-50%);
}
.home-covers-pages {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
@media (width <= 850px) {
    .home-covers-prev, .home-covers-next {
        display: none;
    }
}


.home-detail {
    display: flex;
    flex-direction: column;
    padding-block: 40px;
    padding-inline: var(--page-inline-offset);
    gap: 64px;
    align-items: center;
    animation-name: show-home-details;
    animation-duration: var(--animation-duration);
    background: var(--color-background-secondary);
}
@keyframes show-home-details {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.home-info {
    display: grid;
    grid-template-areas:
            'a _'
            'm d';
    grid-template-columns: min(45%, 100%) min(50%, 550px);
    row-gap: 30px;
    width: 100%;
    justify-content: space-between;
}
.home-info-about {
    grid-area: a;
}
.home-info-main {
    grid-area: m;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}
.home-info-description {
    display: block;
    grid-area: d;
}
.home-info-description > :is(p, .text):not(:last-child) {
    margin-block-end: 12px;
}
.home-info-main-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: flex-start;
}
.home-location {
    padding: 40px;
}
.home-location > .headline-1 {
    display: inline-block;
    margin-block-end: 24px;
}
.home-location-wrapper {
    width: 100%;
}
@media (width <= 850px) {
    .home-detail {
        gap: 48px;
    }
    .home-info {
        grid-template-areas: 'a' 'm' 'd';
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .home-info-name {
        margin-block-start: 4px;
    }
    .home-location {
        padding-inline: 20px;
    }
}




.home-carousel {
    max-width: 1250px;
    width: 100%;
}
.home-carousel .swiper[data-carousel] {
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 580px;
}
.home-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-pagination {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    width: 100%;
    position: absolute;
    bottom: 32px;
    padding-inline: 32px;
    z-index: 1;
}
.swiper > :is(.carousel-prev, .carousel-next).icon-button {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 48px;
    height: 48px;
}
.carousel-prev {
    transform-origin: top;
    transform: rotate(180deg) translateY(-50%);
    left: 10px;
}
.carousel-next {
    transform: translateY(-50%);
    right: 10px;
}

.carousel-bullet:not(.dark) {
    overflow: hidden;
    min-width: 36px;
}
.carousel-bullet:not(.dark) > .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    justify-content: flex-start;
}
@media (width > 900px) {
    .home-carousel .swiper[data-carousel-thumb] {
        height: 0;
    }
}
@media (width <= 900px) {
    .home-carousel .swiper[data-carousel] {
        height: unset;
        min-height: 280px;
    }
    .carousel-pagination {
        bottom: 16px;
    }
    .carousel-prev, .carousel-next,
    .carousel-bullet > .text {
        display: none;
    }
    .carousel-pagination {
        justify-content: center;
    }
    /* написано так из-за проблем со специфичностью ".dark" */
    .carousel-bullet:not(.dark), .carousel-bullet.dark {
        min-width: 0;
        padding: 0;
        width: 8px;
        height: 8px;
    }
    .carousel-bullet.dark {
        background-color: var(--color-interface-white);
    }
    .carousel-bullet:not(.dark) {
        background-color: color-mix(in srgb, var(--color-interface-white), transparent);
    }
    .swiper[data-carousel-thumb] {
        margin-block-end: 16px;
    }
    .swiper[data-carousel-thumb] .swiper-slide {
        width: fit-content;
    }
}