:root {
    --bgcolor: #f8f8f8;
    --primary-color: #68aeda;
    --flipper-size: 20px;
    --flipper-thickness: 3px;
    --flipper-color: var(--bgcolor);
    --convenience-color: var(--primary-color);
    --link-color: black;
    --error-color: red;

    --tabs-color: var(--primary-color);

    --swiper-navigation-color: var(--bgcolor);

}
.air-datepicker {
    --adp-accent-color: var(--primary-color);
    --adp-color-current-date: var(--adp-accent-color);
    --adp-day-name-color: var(--adp-accent-color);
}

body {
    width: 100%;
    margin-inline: auto;
    background: var(--bgcolor);
    position: relative;
}
main {
    display: contents;
}

header {
    position: relative;
    user-select: none;
    width: 100%;
}
.navbar {
    padding-block: 10px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}
.navlink {
    font-size: 18px;
    font-weight: 400;
    color: var(--link-color);
}
.navlink:hover {
    color: color-mix(in srgb, var(--link-color) 70%, #cecece)
}
.navlink[data-current] {
    color: color-mix(in srgb, var(--link-color) 80%, #d56d6d);
    font-weight: 600;
}

.chevron-btn {
    color: var(--flipper-color);
    font-size: var(--flipper-size);
    cursor: pointer;
    user-select: none;
}

.conveniences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.convenience {
    position: relative;
    border: var(--convenience-color) 2px solid;
    border-radius: 5px;
    padding: 2px;
}
.convenience-tooltip {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 100%);
    display: none;
    white-space: nowrap;
    color: var(--bgcolor);
    border: var(--convenience-color) 1px solid;
    background: var(--convenience-color);
    border-radius: 5px;
    padding: 5px;
}
.convenience:hover > .convenience-tooltip,
.convenience:focus > .convenience-tooltip {
    display: block;
}
.convenience > svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--convenience-color);
    stroke: var(--convenience-color);
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tab-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
    background: var(--tabs-color);
    padding: 4px;
    margin-block-end: 20px;
    border-radius: 50px;
}
.tab-label {
    display: block;
    line-height: 2.3em;
    height: 2.5em;
    padding: 0 1em;
    background: var(--tabs-color);
    color: var(--bgcolor);
    cursor: pointer;
    user-select: none;
    border-radius: 50px;
    transition: color, background, transform;
    transition-duration: 0.25s;
}
.tab-label:focus-visible {
    outline: color-mix(in srgb, var(--tabs-color), black) solid 2px;
}
.tab-label:hover:not([data-selected]),
.tab-label:focus-visible {
    transform: translateY(-3%);
}
.tab-label[data-selected] {
    background: var(--bgcolor);
    color: var(--primary-color);
    z-index: 1;
    top: -0.0625rem;
}
.tab-label:last-child {
    border-right: none;
}
.tab {
    display: none;
    width: 100%;
    animation: content 0.15s ease-in;
}
.tab[data-selected] {
    display: block;
}
@keyframes content {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


input {
    border: 1px solid color-mix(in srgb, var(--primary-color), grey);
    border-radius: 13px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 40px;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
    position: relative;
    transition: all 250ms;
}
input:focus {
    border-color: var(--primary-color);
}
input[data-has-error] {
    border-color: var(--error-color);
}

.primary-button {
    background: var(--primary-color);
    color: var(--bgcolor);
    padding: 10px;
    border-radius: 30px;
    height: 40px;
    transition: 0.25s;
    text-align: center;
    line-height: 1.2;
    white-space: nowrap;
    width: min-content;
}
.primary-button:hover:not([disabled]) {
    transform: translateY(-3%);
}
.primary-button[disabled] {
    background: #b7b7b7;
}
