:root {
    --color-background-main: rgba(249 245 242 / 1);
    --color-interface-dark: rgba(41 37 33 / 1);
    --color-interface-medium: rgba(140 140 140 / 1);
    --color-interface-light: rgba(229 229 229 / 1);
    --color-interface-white: rgba(255 255 255 / 1);
    --color-text-dark: rgba(41 37 33 / 1);
    --color-text-medium: rgba(140 140 140 / 1);
    --color-text-light: rgba(193 180 168 / 1);
    --color-text-white: rgba(255 255 255 / 1);

    --header-height: 60px;

    --animation-duration: 100ms;
}
body {
    font-family: 'Inter', sans-serif;
    color: var(--color-text-dark);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 40px;
    align-items: center;
    height: var(--header-height);
}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.navlink {

}
.header-phone {

}

.footer {
    display: flex;
    flex-direction: row-reverse;
    padding-inline: 40px;
    padding-block: 24px;
    color: var(--color-text-light);
    background-color: var(--color-interface-medium);
}

@media (width <= 600px) {
    .header {
        padding-inline: 20px;
    }
    .navbar {
        gap: 16px;
    }
    .footer {
        padding-inline: 20px;
    }
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    transition-duration: var(--animation-duration);
    border-radius: 50px;
    justify-content: center;
}
.button.medium {
    height: 36px;
    padding-inline: 16px;
}
.button.medium.icon-button {
    width: 36px;
    padding-inline: 0;
}
.button.large {
    height: 52px;
    padding-inline: 36px;
}
.button.large.icon-button {
    width: 52px;
    padding-inline: 0;
}
.button > span {
    white-space: nowrap;
}
.button > svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.button.icon-button > svg {
    width: 24px;
    height: 24px;
}

.button.dark {
    background-color: var(--color-interface-dark);
    color: var(--color-text-white);
}
.button.light {
    background-color: var(--color-interface-white);
    color: var(--color-text-dark);
}
@media (hover: hover) {
    .button.dark:hover {
        background-color: var(--color-interface-medium);
    }
    .button.light:hover {
        background-color: var(--color-interface-light);
    }
}


.tooltip {
    padding-block: 4px;
    padding-inline: 10px;
    max-width: 200px;
    width: max-content;
    text-align: center;
    background-color: var(--color-interface-medium);
}

.conveniences {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    user-select: none;
}
.conveniences__item {
    position: relative;
    cursor: pointer;
}
.conveniences__item > .tooltip {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: scale(1) translate(-50%, -100%);
    color: var(--color-text-white);
    border-radius: 4px;
    transform-origin: 0 50%;
    animation-name: show-convenience-tooltip;
    animation-duration: var(--animation-duration);
}
.conveniences__item > svg {
    width: 18px;
    height: 18px;
    transition-duration: var(--animation-duration);
    fill: var(--color-interface-medium);
}
.conveniences__item:not(:hover) > .tooltip {
    display: none;
}
.conveniences__item:hover > svg {
    fill: var(--color-interface-dark);
}
@keyframes show-convenience-tooltip {
    from {
        transform: scale(0) translate(-50%, -100%);
    }
}
