:root {
    --header-font-weight: 500;
    --text-font-weight: 400;
}
h1, .headline-1 {
    font-weight: var(--header-font-weight);
    font-family: 'Lora', serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0;
    color: inherit;
}
h3, .headline-3 {
    font-weight: var(--header-font-weight);
    font-family: 'Lora', serif;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0;
    color: inherit;
}
h5, .headline-5 {
    font-weight: var(--header-font-weight);
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0;
    color: inherit;
}

p, .text {
    font-weight: var(--text-font-weight);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: inherit;
}
p.large, .text.large {
    font-size: 18px;
    line-height: 1.35;
    letter-spacing: -0.01em;
}

@media (width <= 600px) {
    h1, .headline-1 {
        font-size: 24px;
        line-height: 1.35;
    }
    h3, .headline-3 {
        font-size: 18px;
        line-height: 1.2;
    }
    h5, .headline-5 {
        font-size: 14px;
        line-height: 1.4;
    }
    p, .text {
        font-size: 14px;
        line-height: 1.35;
        letter-spacing: -0.01em;
    }
    p.large, .text.large {
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.01em;
    }
}
