{% extends 'base.html' %}
{% load static components %}

{% block content %}
    {% button text='Забронировать' size='l' id='open-ticket-form' %}
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
    <p>xx</p>
{% endblock %}
{% block portals %}
    {% include 'homes/ticket-modal.html' %}
{% endblock %}

{% block lib_styles %}
    {{ block.super }}
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
