{% extends 'common/base.html' %}

{% load static %}

{% block lib_styles %}
    <link href="https://cdn.jsdelivr.net/npm/swiper@11.0.5/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.4.0/air-datepicker.min.css" rel="stylesheet">
{% endblock %}
{% block extra_styles %}
    <link href="{% static "css/home_details.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="home-covers">
        {% for home in homes %}
            <div class="home-cover" data-position="{{ forloop.counter0 }}" data-home-id="{{ home.id }}">
                <img class="home-cover__image" src="{{ home.cover.url }}" alt/>
                <div class="home-cover__info">
                    <span class="home-cover__info__name">{{ home.name }}</span>
                    <p class="home-cover__info__cost">от <span>{{ home.cost_per_day }}</span> руб/сутки</p>
                    <button class="primary-button">Забронировать</button>
                </div>
            </div>
        {% endfor %}
        {% include 'common/chevron.html' with dir='left' %}
        {% include 'common/chevron.html' with dir='right' %}
    </div>
    <div id="home-details">
        {% for home in homes %}
            <div class="home-detail" data-position="{{ forloop.counter0 }}" data-home-id="{{ home.id }}">
                <div class="tabs">
                    <div class="tab" data-label="Описание" data-name="description" data-selected>
                        <div class="home-detail__description">
                            {% include 'common/conveniences.html' with home=home %}
                            <div class="home-detail__description__text">
                                {{ home.long_description|safe }}
                            </div>
                        </div>
                    </div>
                    {% if home.carousel.all %}
                    <div class="tab" data-label="Фото" data-name="photo">
                        <div class="home-detail__photos">
                            <swiper-container navigation="true" space-between="20">
                                {% for image in home.carousel.all %}
                                    <swiper-slide lazy="true">
                                        <img src="{{ image.url }}" alt loading="lazy" width="{{ image.width }}px" height="{{ image.height }}px">
                                    </swiper-slide>
                                {% endfor %}
                            </swiper-container>
                        </div>
                    </div>
                    {% endif %}
                    {% if home.video %}
                    <div class="tab" data-label="Видео" data-name="video">
                        <div class="home-detail__video">
                            <div class="home-detail__video__container">{{ home.video|safe }}</div>
                        </div>
                    </div>
                    {% endif %}
                    {% if home.ya_map %}
                        <div class="tab" data-label="Карта" data-name="map">
                            <div class="home-detail__map">{{ home.ya_map|safe }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block post_main %}
    <dialog id="book-home">
        <div class="book-home-container">
            <div class="book-home-head">
                <span class="book-home-head-plug"></span>
                <span class="book-home-head-name"></span>
                <button class="close-button" aria-label="Отменить бронирование">
                    <svg xmlns="http://www.w3.org/2000/svg" fill=currentColor" viewBox="0 -960 960 960"><path d="M256-213.847 213.847-256l224-224-224-224L256-746.153l224 224 224-224L746.153-704l-224 224 224 224L704-213.847l-224-224-224 224Z"></path></svg>
                </button>
            </div>
            <form class="book-home-form" novalidate>
                {% csrf_token %}
                {{ ticket_form.dtrange }}
                {{ ticket_form.name }}
                {{ ticket_form.phone_number }}
                {{ ticket_form.guest_count }}
                {{ ticket_form.home.as_hidden }}
                <button type="submit" class="primary-button">Забронировать</button>
            </form>
        </div>
    </dialog>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    <script src="{% static "js/home_details.js" %}"></script>
{% endblock %}
