{% extends 'base.html' %}

{% block content %}
<div class="contacts">
    <div class="contacts-text">
        <h1>Контакты</h1>
        <div class="contacts-text--item">
            <p class="large">Телефоны для связи</p>
            <ul class="contacts-text--item-list color-medium">
                {% for phone in phones %}
                    <li><a class="text large" href="tel:{{ phone.e164 }}">{{ phone.display }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% if instagram %}
            <div class="contacts-text--item">
                <p class="large">Instagram</p>
                <a class="large color-medium" href="https://instagram.com/{{ instagram }}">@{{ instagram }}</a>
            </div>
        {% endif %}
        {% if mails %}
            <div class="contacts-text--item">
                <p class="large">Почта</p>
                <ul class="contacts-text--item-list color-medium">
                    {% for mail in mails %}
                        <li><a class="text large" href="mailto:{{ mail }}">{{ mail }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="contacts-map">{{ map }}</div>
</div>
{% endblock %}